<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <!-- Bootstrap CSS -->
    {%load static%}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Monda&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'blog/style.css'%}">
    <title>AnTechBlog</title>
    <style>
      li,ul{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size:1.05em;
      }
      #errors{
        display: flex;
      }
    </style>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">AnTechBlog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="width: 89%;padding: 0em 1em;">
          <div class="navbar-nav" style="width: 100%;">
            <div class="firstPart">
              <a class="nav-item nav-link active" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            
              <a class="nav-item nav-link" href="#">Contact US</a>
              <a class="nav-item nav-link" href="#">About US</a>
            </div>
            <div class="secondPart navbar-nav">
            {%if request.user.is_authenticated%}
                <img src={{user_profile.profile_pic.url}} class="user-img" alt="" style='border-radius: 50%;'>
                <a class="nav-item nav-link" href="/profile" style="font-style: bold;">{{request.user.username}}</a>
                <a class="nav-item nav-link" href="{%url 'create_post'%}">New Post</a>
                <a class="nav-item nav-link" href="{%url 'logout'%}">LogOut</a>
            {%else%}
            <a class="nav-item nav-link" href="{%url 'login'%}">LogIn</a>
            <a class="nav-item nav-link" href="{%url 'register'%}">Register</a> 

            {%endif%}
            </div>
          </div>
        </div>
      </nav>
      <div id="errors">
        {{errors}}
      </div>
      {%if messages%}
      {%for message in messages%}
      <div class="alert alert-{{message.tags}}" role="alert">
        {{message}}
      </div>
      {%endfor%}
      {%endif%}

    {%block body%}{%endblock%}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {%block script%}
    {%endblock%}

    <script text="type/javascript">

        let errors=document.getElementById("errors").innerText;
        if (errors!=''){
        errors=JSON.parse(errors);
        // errors.innerText=''
        document.getElementById('errors').innerText='';
        for (id in errors){
          let errorParent=Array.from(document.getElementsByName(id))[0];
          let error=errors[id];
          errorElement=document.createElement('div');          
          errorElement.className="alert alert-danger";
          errorElement.setAttribute('role','alert');
          errorElement.innerText=error;
          errorParent.parentElement.insertBefore(errorElement,errorParent);

        }}
    </script>
    </script>
  </body>
</html>